game {
    display       : flex;
    flex-direction: column;
    align-items   : center;

    h2 {
        margin-bottom: 0;
    }

    form {
        display: block;
        height : calc(2rem + 20px);
    }
}

spinner {
    --spinnerWidth : 8rem;
    --spinnerHeight: 8rem;

    position     : relative;
    display      : block;
    width        : var(--spinnerWidth);
    height       : var(--spinnerHeight);
    margin-block : 2lh;
    overflow     : hidden;
    box-shadow   : 0 0 10px 5px green;
    border-radius: 7px;


    ul {
        position    : absolute;
        left        : 0;
        top         : 0;
        list-style  : none;
        padding-left: 0;
        margin      : 0;
        display     : block;
        cursor      : pointer;
        transition  : transform 2.5s ease-out;
        transform   : translate(0);

        .spin & {
            transform: translate(0, calc(9rem - 100%));
        }


        li {
            display      : block;
            text-align   : center;
            width        : 8rem;
            height       : 6rem;
            font-size    : 4rem;
            line-height  : 4rem;
            padding-block: 1rem;
            margin-block : 2rem;

            &:first-child {
                margin-top: 1rem;
            }
        }
    }
}