persons {
    display       : flex;
    flex-direction: column;
    align-items   : stretch;
    position      : relative;
    z-index       : 1;
    max-width     : 30ch;
    margin        : auto;

    li {
        margin-bottom  : 1rem;
        width          : 100%;
        display        : flex;
        justify-content: space-between;
        align-items    : center;
        gap            : 1rem;

        output {
            margin-left: auto;
        }

        button {
            flex: 0 0 4rem;
        }
    }

    form {
        gap: 1rem;

        button {
            flex: 0 0 4rem;
        }
    }

    input {
        flex     : 1;
        max-width: calc(100% - 5rem);
    }
}

persons,
dialog {
    ul {
        padding-left : 0;
        width        : 100%;
        margin-bottom: 3rem;
    }


    h2 {
        font-size  : 2.4rem;
        font-family: 'Bungee Inline';
        font-weight: 400;

        @media screen and (max-width: 600px) {
            font-size: 2rem;
        }
    }

    form.start fieldset {
        gap            : 0;
        padding        : 0;
        min-inline-size: 1rem;

        input {
            border-top-right-radius   : 0;
            border-bottom-right-radius: 0;
            padding-inline            : 2rem 0;
            max-width                 : 11rem;

            @media screen and (max-width: 600px) {
                max-width     : 5rem;
                padding-inline: 1rem .5rem;
            }

            &::-webkit-inner-spin-button {
                flex: 0 0 1.4rem;
            }

            &::editing-view-port::after {
                content: 'sec';
            }
        }

        button {
            border-top-left-radius   : 0;
            border-bottom-left-radius: 0;

            @media screen and (max-width: 600px) {
                flex: 0 0 5.6rem;
            }
        }
    }

    button {
        &.start {
            font-size: 4rem;
            flex     : 0 0 6.5rem;
        }

        &.resetScore {
            padding  : .4rem;
            flex     : 0 0 2.4rem;
            font-size: 1.6rem;
        }
    }

    .steppers button {
        border-radius: 0;

        @media screen and (max-width: 600px) {
            padding: 10px;
        }

        &:first-child svg {
            translate: 0 .4rem;
        }

        &:last-child svg {
            translate: 0 -.4rem;
        }
    }
}

dialog {
    /* display      : grid;
    place-content: center; */

    button.resetScore {
        padding: 0;
    }
}
