smoke {
    position: fixed;
    top     : 0;
    left    : 0;
    display : block;
    height  : 100dvh;

    .smoke {
        position         : absolute;
        width            : 100vmax;
        height           : 100vmax;
        left             : 50vw;
        top              : 50dvh;
        transform        : translate(-50%, -50%) rotate(90deg);
        background-image : url('assets/smoke-b-w.gif');
        background-repeat: no-repeat;
        background-size  : cover;
        pointer-events   : none;
    }
}