@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&family=Bungee+Inline&family=Bungee+Outline&family=Open+Sans:wght@400;600&display=swap');

:root {

    *,
    *:before,
    *:after {
        --mainColor      : green;
        --backgroundColor: black;
    }
}

body {
    height          : 100dvh;
    margin          : 0;
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    justify-content : center;
    overflow        : hidden;
    background-color: var(--backgroundColor);
    color           : var(--mainColor);
    font-size       : 32px;
    font-family     : 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1,
h2 {
    font-family: 'Bungee outline', sans-serif;
    text-align : center;
}

h1 {
    font-size  : 4rem;
    font-weight: bold;

    @media screen and (max-width: 600px) {
        font-size: 3rem;
    }
}

form {
    text-align: center;
}

button,
input {
    background-color: var(--mainColor);
    border          : 2px double var(--mainColor);
    border-radius   : 3px;
    color           : var(--backgroundColor);
    padding         : 10px 20px;
    cursor          : pointer;
    font-family     : inherit;
    font-size       : 2rem;
    font-weight     : bold;

    @media screen and (max-width: 600px) {
        font-size: 1rem;
    }
}

input:-internal-autofill-selected,
input:-webkit-autofill {
    background-color: var(--mainColor);
    color           : var(--backgroundColor);
    font-family     : inherit;
    font-size       : 2rem;
    font-weight     : bold;
}